<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=2.1.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
	</configSections>
	<phpNet>
		<scriptLibrary>
			<add url="Geshi.dll" />
		</scriptLibrary>
	</phpNet>
</configuration>